extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href="/users" style='text-decoration: none;') Back
  h3.py-3 Create users
  if errors
   each error in errors
    .alert.alert-danger= error

  form(action="/users/create", method="POST")
   .form-group.row
    label(for='name').col-sm-2.col-form-label User Name
    .col-sm-10
     input#name.form-control(name="name", type="text", value=values ? values.name : "")
   .form-group.row
    label(for='phone').col-sm-2.col-form-label Phone
    .col-sm-10
     input#phone.form-control(name="phone", type="text", value=values ? values.phone : "")
   button.btn.btn-primary Create