html
  head
    link(rel="icon" ,type="image/png" ,href="https://cdn.glitch.com/375cd5ac-f9b9-440e-85ea-d48ffee0397d%2Flogobooks1.png?v=1589901741108", size='64x64')
    link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" )
    link(rel="stylesheet" ,type="text/css", href='/custom.css')
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" )
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
  body
    block nav
    .container.py-3
      block content
